.App{
 color: white;
 display: grid;
    min-height: 100vh;
    background-color: rgb(29, 29, 29);
    grid-template-rows: 1fr 8fr 60px;
}
.body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin: 10px;
    place-items: center;
}
.footer{
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
}
.image{
  height: 300px;
}
